<div>
  <div>
    <h4>Add your motivational quote</h4>
  </div>

</div>
<div class="uk-container" [@quotes]="quotes.length">

  <div class="uk-flex uk-flex-center" uk-grid>
 
  <div class="uk-width-3-5@m form-default">
   <form action="">
     <input type="text" name="itam" class="uk-input" placeholder="Motivational Quote..." [(ngModel)]="quoteText">
     <div class="">
     <input type="submit" class="uk-button uk-button-default uk-button-large uk-width-1-1" [value]="btnText" (click)="addItem()">
     <div>
      <p>Your motivational list has {{ itemCount }} quote(s)</p>
    </div>
    </div>
     <div class="data-quote">
       <h2><span>"</span>{{ quoteText }}<span>''</span></h2>
      </div>
   </form>
  </div>

</div>

  <div> 
    <!--<p class="life-container" *ngFor="let quote of quotes; let i = index" (click)="removeItem(i)">
     {{ quote }}
    </p>-->
  </div>

</div>